@font-face {
  font-family: "iconfont"; /* Project id 4068805 */
  src: url('iconfont.woff2?t=1684574230233') format('woff2'),
       url('iconfont.woff?t=1684574230233') format('woff'),
       url('iconfont.ttf?t=1684574230233') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-APPtuisong:before {
  content: "\e629";
}

.icon-app1:before {
  content: "\e652";
}

.icon-remen:before {
  content: "\e646";
}

.icon-yunduanxiazai:before {
  content: "\ec1d";
}

.icon-qitafuwu:before {
  content: "\e62b";
}

.icon-yinle:before {
  content: "\e60e";
}

.icon-rengongzhinengdanao:before {
  content: "\e611";
}

.icon-tupianbizhi:before {
  content: "\e6c6";
}

.icon-program-full:before {
  content: "\e991";
}

.icon-sheyingshipin-fill:before {
  content: "\e621";
}

.icon-qianjin1:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-tuige:before {
  content: "\e602";
}

.icon-fanhui:before {
  content: "\e603";
}

.icon-tianjia1:before {
  content: "\e64d";
}

.icon-yuanxingxuanzhongfill:before {
  content: "\e730";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-iconfontscan:before {
  content: "\e601";
}

.icon-tianjia:before {
  content: "\e644";
}

.icon-jianshao:before {
  content: "\e753";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-jiaobiaoxuanzhong:before {
  content: "\eb0e";
}

.icon-xianshi_huaban:before {
  content: "\e66f";
}

.icon-yincang:before {
  content: "\e653";
}

.icon-round:before {
  content: "\e60f";
}

.icon-round_check:before {
  content: "\e610";
}

